/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  border-radius: 50%;
  color: white;
  padding: 6px 6px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 200px;
  height: 200px;
  z-index: 9;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed; !important
  bottom: 0; !important
  right: 15px; !important
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#myForm {
	display: none; 
}

.direct-chat {
	display: none;
  	position: fixed;
	bottom: 0;
 	right: 15px;
  	border: 3px solid #f1f1f1;
  	z-index: 9;
}

.fa { 
	font-family: 'FontAwesome' !important; 
}

.loading{
	display: none;
	text-align: left;
	vertical-align: baseline;
}

.direct-chat-loading {
	border-radius: 50%;
	width: 90px;
	height: 30px;
}
